{deps, []}.

{relx, [
        {release, {test, "0.1.0"}, [test]},
        {extended_start_script, true}
]}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors,
            warn_untyped_record]}.


{profiles, [
            {default, []},
            {prod, [
                    {relx, [{dev_mode, false}]}
                   ]},

            {test, [
                    {eunit_compile_opts, [debug_info]}
                   ]}
]}.
